.form-signin {
  /*max-width: 350px;
  padding: 15px;
  margin: 0 auto;*/
}

.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
/*
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
*/

.form-control:-moz-placeholder{
  color: $silver;
}

.form-control::-moz-placeholder{
  color: $silver;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: $silver;
}

.form-control::-webkit-input-placeholder{
  color: $silver;
}

.form-control.placeholder{
  color: $silver;
}
.login-links p{
  font-size: .8em;
}
.form-signin {
  .reset-password{
    float: right;
    font-size: .8em;
    margin-top: .55em;
  }
}
