@font-face {
    font-family: 'ubuntu-bold';
    src: url('../fonts/ubuntu-bold-webfont.eot');
    src: url('../fonts/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-bold-webfont.woff') format('woff'),
         url('../fonts/ubuntu-bold-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-bold-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*
@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-bolditalic-webfont.eot');
    src: url('../fonts/ubuntu-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-bolditalic-webfont.woff') format('woff'),
         url('../fonts/ubuntu-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-bolditalic-webfont.svg#ubuntubold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/


/*
@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-italic-webfont.eot');
    src: url('../fonts/ubuntu-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-italic-webfont.woff') format('woff'),
         url('../fonts/ubuntu-italic-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-italic-webfont.svg#ubuntuitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/

@font-face {
    font-family: 'ubuntu-light-italic';
    src: url('../fonts/ubuntu-lightitalic-webfont.eot');
    src: url('../fonts/ubuntu-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-lightitalic-webfont.woff') format('woff'),
         url('../fonts/ubuntu-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-lightitalic-webfont.svg#ubuntulight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}



/*
@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-medium-webfont.eot');
    src: url('../fonts/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-medium-webfont.woff') format('woff'),
         url('../fonts/ubuntu-medium-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-medium-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-mediumitalic-webfont.eot');
    src: url('../fonts/ubuntu-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/ubuntu-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-mediumitalic-webfont.svg#ubuntumedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/


@font-face {
    font-family: 'ubuntu-light';
    src: url('../fonts/ubuntu-light-webfont.eot');
    src: url('../fonts/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-light-webfont.woff') format('woff'),
         url('../fonts/ubuntu-light-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-light-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu-regular-webfont.eot');
    src: url('../fonts/ubuntu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-regular-webfont.woff') format('woff'),
         url('../fonts/ubuntu-regular-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-regular-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}