<div class="row" id="top">
	<div class="col-md-12">
		<section class="login" ng-controller="forgotPasswordCtrl">
			<h2>Reset Password</h2>
				<div class="row">
					<span class="fa fa-pencil page-bg"></span>
					<form class="form-reset col-xs-12 col-sm-6 col-md-5" role="form" name="resetPasswordForm" ng-submit="processForm(resetPasswordForm.$valid)" novalidate ng-hide="resetPasswordMessage">
					     <div class="form-group"  ng-class="{ 'has-error' :submittedError}">
         					<p class="help-block" style='height:20px'><span  ng-show="submittedError">Please correct your errors</span></p>
        				</div>
						<div class="form-group" ng-class="{ 'has-error' : resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine || submittedError && resetPasswordForm.password.$invalid && !resetPasswordForm.password.$dirty || errorMessagePassword}">
							<label for="password">Password</label>
							<input type="password" name="password" class="form-control" id="password" ng-model="user.password" ng-change="passwordStrength()" required>
							<p class="help-block strength">Minium 6 characters. Use lowercase, uppercase and a digit.<br />Password strength: {{checkStrengthMessage}}</p>
							<div class="progress">
							  <div class="progress-bar progress-bar-{{strengthColor}}" role="progressbar" aria-valuenow="{{strengthValue}}" aria-valuemin="0" aria-valuemax="100" style="width: {{strengthValue}}%;"></div></div>

							<p ng-show="resetPasswordForm.password.$error.required && !resetPasswordForm.password.$pristine || submittedError && resetPasswordForm.password.$invalid && !resetPasswordForm.password.$dirty" class="help-block">Password is required</p>
							<p ng-show="errorMessagePassword" class="help-block">{{errorMessagePassword}}</p>
						</div>
						<div class="form-group" ng-class="{ 'has-error' : resetPasswordForm.passwordConfirm.$error.match || resetPasswordForm.passwordConfirm.$error.required && !resetPasswordForm.passwordConfirm.$pristine || submittedError && resetPasswordForm.passwordConfirm.$invalid && !resetPasswordForm.passwordConfirm.$dirty}">
							<label for="passwordConfirm">Repeat password</label>
							<input type="password" class="form-control" ng-model="user.passwordConfirm" data-match="user.password" name="passwordConfirm" required>
							<p ng-show="resetPasswordForm.passwordConfirm.$error.match || resetPasswordForm.passwordConfirm.$error.required && !resetPasswordForm.passwordConfirm.$pristine || submittedError && resetPasswordForm.passwordConfirm.$invalid && !resetPasswordForm.passwordConfirm.$dirty" class="help-block">Password does not match</p>
						</div>
						<div class="form-group">
							<button class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
						</div>
						<div class="login-links">
							<p>Already have an account? <a href="#!/login">Login</a></p>
						</div>
					</form>
					<p ng-if="resetPasswordMessage" class="col-xs-12 col-sm-6 col-md-5">
						{{resetPasswordMessage}}
					</p>
				</div>
		</section>
	</div> 
</div>