<div class="row">
  <div class="col-md-12">
     <ul class="nav nav-tabs" ng-controller="startRandomTagCtrl">
      <li><a href="#!/" data-toggle="tab">Popular</a></li>
      <li><a href="#!/recent" data-toggle="tab">Recent</a></li>
      <li><a href="#!/random" data-toggle="tab">Random</a></li>
      <li ng-if="getCurrentTag()"><a href="#!/rate/tag/{{getCurrentTag()}}" data-toggle="tab">{{getCurrentTag()}}</a></li> 
      <li ng-if="getCurrentTag()" class="active"><a href="#!/top/tag/{{getCurrentTag()}}" data-toggle="tab">Top 20 in {{getCurrentTag()}}</a></li>   
      <li><a href="#!/tagsearch" data-toggle="tab">Search</a></li>           
      </ul>
  </div>
</div>

<div class="row col-md-12">
<h3 class="home-page-h3">Top 20 in {{getPageTag()}}</h3>	
</div>
<div class="row">
	<div class="col-sm-9">
		<section class="leaderboard">
				<ul>
					<li ng-repeat="(key, value) in top">
	  					<section class="top top-image" ng-class="{ 'top-one' : $index == 0, 'top-two' : $index == 1, 'top-three' : $index == 2 }">
	  					<span class="trophy" ng-if="$index == 0 || $index == 1 || $index == 2"><i class="fa fa-trophy"></i></span>
	  					<div class="top-score-container hidden-sm hidden-xs">
	  					 	<h2 class="top-score"><span>{{$index+1}}</span></h2>
	  					 </div>
	  						<div class="image-container">
			        			<a href="#!/rate/tag/{{getPageTag()}}/{{value.id}}/{{value.id}}">
			        			<img alt="" ng-src="{{value.file_name_thumb}}" class="img-rounded" ng-if="value.type === 'image'" width="120" height="90">
			        			<img ng-src="https://i1.ytimg.com/vi/{{value.original_file_name}}/default.jpg" class="img-rounded topimg" ng-if="value.type === 'video'" width="120" height="90"></a>
			        		</div>
			        		<div class="top-details">
				        		<h3 class="leaderboard-title"><span class="visible-sm visible-xs sm-score">{{$index+1}}</span>{{value.title}}</h3>
				        		<h4><a href="#!/rate/user/{{value.userid}}">{{value.userid}}</a></h4>
				        		<p><i class="fa fa-thumbs-up"></i> <span id="upload_{{value.id}}">{{value.overallScore}}</span></p>

			        		</div>
					  </section>
					</li>
				</ul>					
		</section>
	</div> 
	<div class="col-sm-3">
	    <section class="categories hidden-xs" ng-controller="tagPopularCtrl">
    <h3><i class="fa fa-trophy"></i> Top 20 in</h3>
    <ul class="tags" ng-repeat="(key, tagCloud) in tagCloud">
      <li ng-repeat="key in tagCloud.tagCloud" class="{{roundTagColor(key.count,tagCloud.minCount,tagCloud.maxCount)}} grow"><a href="#!/top/{{getPageType()}}/{{key.tag}}"><span style="font-size:144%;">{{key.tag}}</span></a></li>
    </ul>
  </section>

      <section class="categories" ng-controller="tagPopularCtrl">
	      <h3><i class="glyphicon glyphicon-fire"></i> Popular tags</h3>
	      <ul class="tags" ng-repeat="(key, tagCloud) in tagCloud">
	        <li ng-repeat="key in tagCloud.tagCloud" class="{{roundTagColor(key.count,tagCloud.minCount,tagCloud.maxCount)}} grow"><a href="#!/rate/tag/{{key.tag}}"><span style="font-size:144%">{{key.tag}}</span></a></li>
	      </ul>
	      <a href="#!/tagsearch">More...</a>
      </section>
	</div>
</div>