<div class="row">
  <div class="col-md-12">
     <ul class="nav nav-tabs">
      <li class="active"><a href="#!/username/{{isUserLogged}}">My Uploads</a></li>  
      <li><a href="#!/username/{{isUserLogged}}/edit">Edit Profile</a></li>       
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    
      <br />

        <section class="leaderboard" ng-controller="userUploadsListCtrl">
        <ul id="userUploadList">
          <li ng-repeat="(key, value) in top | reverse">
              <section class="top top-image" >
                <button class="glyphicon glyphicon-remove pull-right close"  ng-click="confirmClick() && deleteItem($index, value.id)" confirm-click></button>
                <div class="image-container">
                    <a href="#!/rate/tag/{{value.tags[0]}}/{{value.id}}/{{value.id}}">
                    <img alt="" ng-src="{{value.file_name_thumb}}" class="img-rounded" ng-if="value.type === 'image'" width="120" height="90">
                    <img ng-src="https://i1.ytimg.com/vi/{{value.original_file_name}}/default.jpg" class="img-rounded topimg" ng-if="value.type === 'video'" width="120" height="90"></a>
                  </div>
                  <div class="top-details">
                    <h3 class="leaderboard-title"><span class="visible-sm visible-xs sm-score">{{$index+1}}</span>{{value.title}}</h3>
                      <p class="user-upload-desc" ng-if="!showDetails">{{value.description | characters:140 :false }}</p>
                      <p><i class="fa fa-thumbs-up"></i> <span id="upload_{{value.id}}">{{value.overallScore}}</span>
                      <span class="label label-default" ng-repeat="(i, o) in value.tags_with_rank track by i">{{i}}: Rank {{o}}</span></p>
                  </div>
            </section>
          </li>
        </ul>         
    </section>


  </div>  
</div>  

 